@import "mirotone/dist/styles.css";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: #eee;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color Emoji;
}

html,
body,
#root {
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
  padding: 1rem 24px 1rem 24px;
  overflow-y: auto;
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.shape_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 0.5rem;
  width: 100%;
}

.shape_grid_item {
  cursor: pointer;
  aspect-ratio: 1/1;
}

.shape_grid_item img {
  max-width: 100%;
}

.page_shape {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 1rem;
}

.shape_notes {
  width: 100%;
  height: 100%;
  padding: 1rem;
  resize: none;
}
